wsEjemplo/UnitTestAritmetica/Connected Services/srvAritmetica/WSaritmetica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceAritmetica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceAritmetica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsAritmetica">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRespuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="numeroA" type="xs:int" />
          <xs:element minOccurs="0" name="numeroB" type="xs:int" />
          <xs:element minOccurs="0" name="resultado" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsAritmetica" nillable="true" type="tns:clsAritmetica" />
  <xs:complexType name="BaseRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRespuesta" nillable="true" type="tns:BaseRespuesta" />
</xs:schema>